{% extends "wiki/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'wiki:index' %}">
        <h2>Wiki Index</h2>
    </a>

    {% if not request.user.is_authenticated %}
    <div class="login">
        <a logout_redirect href="{% url 'wiki:login' %}" class="btn btn-danger">Login</a>
    </div>

    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="logout">
        <a logout_redirect href="{% url 'wiki:logout' %}" class="btn btn-danger">Logout</a>
    </div>
    {% endif %}

</nav>
<div class="title">
</div>

<div class="titleback">
    <h2>{{ page.title }}</h2>
</div>

<div class="text">
    {{page.content }}
</div>

<!--Allows a user to edit the text-->
<div class="edit">
    <a class="btn btn-primary" href="{% url 'wiki:edit_page' page.id %}"> 
        edit
    </a>
</div>
<!--Takes a user back home, to the index page-->
<div class="home">
    <a class="btn btn-primary" href="{% url 'wiki:index' %}">
        home
    </a>
</div>

<footer class="footer">
  {{ Counter.pk | safe}}
  <div class="text-center">This Page has been visited {{page.counter}} times.</div>
</footer>

{% endblock %}