{% extends 'wiki/base.html' %} <!--Links to the base.html so that anything there e.g. links to CSS or Bootstrap will be registerd-->
{% load static %}
{% load staticfiles %}
{% block content %}
{% block contentTitle %}
<header>
    <h3> Editing {{page_name}}</h3>
</header>
{% endblock %}

<div class="textedit">
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script>tinymce.init({ selector: '#id_content', plugin: 'autolink' });</script>

    <form method="POST" action="{% url 'wiki:save_page' page_name %}">

        {% csrf_token %}
        <textarea id="id_content" name="content" row="10" cols="40">
{{content}}   <!--Used so that all text(content) on the wiki page is displayed in the textbox area to be edited-->
        </textarea>
</div>

<!--button to save edited text-->
<input type="submit" value="Save">

</form>

<!--Button to cancel all actions and returns user to previous page (wiki content page)-->
<a class="btn btn-danger" href="{% url 'wiki:detail' page_name %}">
    Cancel
</a>


{% endblock %}