{% extends "wiki/base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2>Wiki Index</h2></a>
    <div id="navbarSupportedContent" role="navigation">
        <form class="form-inline my-2 my-lg-0" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        </form>
    </div>
</nav>
<div class="title">
</div>
{% if pages %}
<div class="container">
    <div class="col col-sm-4 col-lg-4">
            <ul>
                {% for page in pages %}
                <li>
                    <a href="{% url 'wiki:detail' page.id %}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>
    </div>
</div>
{% endif %}
 
{% endblock content %}
