{% extends "wiki/base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2>Wiki Index</h2></a>

    <!--If not logged in, will display Login button. Used to take you to the login in page, where it will require a user name and password-->
    {% if not request.user.is_authenticated %}
    <div class="login">
        <a logout_redirect href="{% url 'wiki:login' %}"  class="btn btn-danger">Login</a> 
    </div>
    <!--if already logged in, will display logout button. Once pressed will logout user and redirect them to the login page-->
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="logout">
        <a logout_redirect href="{% url 'wiki:logout' %}"  class="btn btn-danger">Logout</a>
    </div>
    {% endif %}
    
</nav>


<div class="title">
</div>
{% if pages %}

<!--Takes you to the wiki pages created within the admin-->
<div class="container">
    <ul class="wikihome">
        {% for page in pages %}
        <li>
            <a href="{% url 'wiki:detail' page.id %}">{{ page.title }}</a> 
        </li>
        {% endfor %}
    </ul>
</div>

<!--Takes a user to the file upload page-->
<div class="container">
    <ul class="wikihome">
        <li>
            <a href="{% url 'wiki:upload' %}">File upload</a> 
        </li>
    </ul>
</div>
{% endif %}


<footer class="footer">
<p class="text-center">The browser used to load this page is {{ request.META.HTTP_USER_AGENT}}</p> <!--Used to detect and display users browser being used-->
</footer>

{% endblock content %} 
 