{% extends 'wiki/base.html' %} <!--Links to the base.html so that anything there e.g. links to CSS or Bootstrap will be registerd-->
{% load static %}


{% block content %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'wiki:index'  %}"><h2>Wiki Index</h2></a>

    <!--If not logged in, will display Login button. Used to take you to the login in page, where it will require a user name and password-->
    {% if not request.user.is_authenticated %}
    <div class="login">
        <a logout_redirect href="{% url 'wiki:login' %}"  class="btn btn-danger">Login</a>
    </div>

    <!--if already logged in, will display logout button. Once pressed will logout user and redirect them to the login page-->
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="logout">
        <a logout_redirect href="{% url 'wiki:logout' %}"  class="btn btn-danger">Logout</a>
    </div>
    {% endif %}
    
</nav>
<div class="title">
</div>


<div class="fileup">
    {% block ContentTitle %}<b>Upload content</b>{% endblock %}

    <section>

        <form method='POST' enctype='multipart/form-data' action="{% url 'wiki:upload' %}">
            {% csrf_token %}
            {{form}}
            <input type='submit' value="Upload"> <!--Used to upload the file displayed (the one the user just added)-->
        </form>

    </section>

    <hr />
</div>
    <section>
        
        {% if files %}
        <ul><p><b>Uploaded Files</b></p>
            {% for file in files %}
            <li><a href="{{file.upload.url}}">{{file.upload.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No uploaded files</p>
        {% endif %}
    </section>

<!--Takes a user back home, to the index page-->
    <div class="fileupload-home">
        <a class="btn btn-primary" href="{% url 'wiki:index' %}">
            home
        </a>

{% endblock %}