/*body{background-color: aqua}*/
body{background-color: rgb(231, 218, 218);}

h1{margin: 20px 0px 0px 10px;}

h2{text-align: center; margin: 10px 0px 10px 0px; 
    font-family: sans-serif;
   }

nav{margin: 5px 0px 0px 0px}

.title{ background-color: aqua;
        height: 20px; margin: 0px 0px 20px 0px;}


.container{margin: 0px 100px 0px 200px; 
    border: 1px solid black; 
    font-family: sans-serif;
    width: 600px;
    background-color: rgba(247, 238, 238, 0.87);}

input{margin: 10px 0px 5px 50px; }

.text{margin: 20px 50px 0px 50px; /*border: 1px solid purple*/
        border:1px solid black;}

textarea{margin: 0px 0px 10px 50px;
            width: 80%; height: 50%;
            text-align: left; padding: 0px;}

button{text-decoration: none;}



